:root {
  --primary-color: #2e8acb;
  --secondary-color: #002f59;
  --tertiary-color: #0dc1f2;
  --white: #fff;
  --gray: #333;
  --gray-light: #4e4d4d9c;
  /* --titles: "Encode Sans Semi Expanded", serif;
  --font: "Asap", serif; */
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.link-list{
  display: flex;
  justify-content: space-around;
}
.link-item{
  background-color: transparent;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.link{
  background-color: #f0ecec;
  font-size: 3.5rem;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.link-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1.5rem;
  gap: .5rem;
}
.link-content h3, p {
  margin: 0;
}
.link-content p {
  font-size: 1rem;
  transition: all 0.3s ease;
}
.link-content h3{
  color: var(--secondary-color);
}
.link-item:hover .link {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  transform: translate(0, -5px);
}
.link-item:hover .link-content p{
  color: var(--secondary-color);
}